@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@600&family=Poppins:wght@300;400;500;600&display=swap');
*{
    padding:0;
    margin:0;
    box-sizing:border-box;
}
body{
    background-color: #FEFBF5;
    color:#301E03;
}
/* Nav bar */
nav{
    width:100%;
    padding: 10px 10vw;
    background-color: #F4B454;
}
ul{
    list-style:none;
    display:flex;
    flex-direction: row;
    width:100%;
    justify-content:space-between;
}
ul li{
    flex: 1;
    text-align: center;
    display:flex;
    flex-direction: column;
    justify-content:center;
}
ul li a{
    color:#301E03;
    margin: auto;
    font-size: 1.2rem;
    /* font-family: 'Playfair Display', sans-serif; */
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    text-decoration: none;
}
/* Main Block Starts */
main{
    padding: 10px 18vw;
    
}
@media only screen and (max-width:625px) {
    main{
        padding: 10px 10px;
    }
}
/* Introduction */
.introduction{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 13px;
    border-radius: 20px;
    background-color: #FBE6C5;
}
.mars-img{
    flex: 1;
    min-width: 250px;
    max-width: 400px;
    text-align: center;
    margin: auto;
}
.content{
    flex:2;
    min-width: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
.content h2{
    font-size: 1.2rem;
    font-family: 'Poppins',sans-serif;
    font-weight: 400;
}
@media only screen and (min-width:625px) {
    .content{
        text-align: left;
        padding-left: 5vw;
    }
}
/* countdown starts */
.countdown{
    margin-top: 20px;
    width: 100%;
    margin-bottom: 50px;
}
.time-left-holder{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-around;
}
.time-left-content{
    background-color: #EF9610;
    flex: 1;
    min-height: 250px;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    padding: 20px;
    margin: 10px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content:center;
}
.time-left-content h2{
    color: #FBE6C5;
    font-size: 4rem;
    flex: 1;
}
/* footer */
footer{
    width:100%;
    height: 40px;
    padding: 10px 10vw;
    background-color: #F4B454;
    position:fixed;
    z-index:1;
    text-align: center;
    bottom:0;
    left:0;
}